<div style="overflow-x:hidden;">
    <div class="mt-3">
      <div class="page-header">
        <div class="page-header-left">
          <div class="page-header-icon">
            <i class="fa fa-sitemap"></i>


          </div>
      
          <div class="page-header-text">
            <div class="page-title">Add Control-Lot</div>
            <div class="page-subtitle">
              Manage Control-Lot name
            </div>
          </div>
    
        </div>
      
      </div>
        <div class="card-body mt-3">
          <button
            class="btn btn-primary me-2"
            (click)="openAddControlLotSwal()"
          >
            <i class="fa fa-user-plus me-2"></i>Add Control-Lot
          </button>
         

          <div class="form-inline mt-3">
            <div class="input-group">
              <input
              type="text"
              class="form-control"
              placeholder="ค้นหา Control-Lot Name"
              [(ngModel)]="searchText"
              (input)="onSearch()"
            />
            
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-striped mt-3">
            <thead>
              <tr>
                <th>Index</th>
                <th>Control-LotName</th>
                <th width="50px">แก้ไข</th>
                <th width="50px">ลบ</th>
              </tr>
            </thead>
            <tbody>
                @for (item of filteredControlLot; track  $index; let i = $index) {
                    <tr>
                        <td>{{i+1}}</td>
                      <td>{{item.name}}</td>
                      <td class="text-center">
                        <button class="btn btn-primary btn-sm" (click)="true">
                          <i class="fa fa-edit"></i>
                        </button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-danger btn-sm" (click)="true">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                    </tr>
                    }
            </tbody>
          </table>
        </div>
      </div>
    </div>
     